{% extends 'index.html' %}
{% block body %}
<br>
<br>
<section class="mt-lg-5 align-middle">
    <div class="container">
        <div class="col d-flex justify-content-center">
            {% for cert in cert %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{cert.C_image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{cert.C_name}}</h5>
                  <p class="card-text">{{cert.C_description}}</p>
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
            {% endfor %}  
        </div>
        <!-- </center> -->
    </div>
</section>
<br>
<br>

{% endblock body %}

