{% extends 'index.html' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text" style="
        text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
        ">
            <h2 class="hero_title" style=" font-size: 4.5rem;">Hi, it's me Sandip</h2>
            <p class="hero_desc" style="font-size: 2rem;">I am a Python Developer And Machine learning Enggineer</p>
        </div>

{% endblock body %}