{% extends 'index.html' %}
{% block body %}
<br>
<br>
<section style="background-color: rgba(240, 248, 255, 0);">
    <div class="card text-center">
        {% for prjt in prjt %}
        <div class="card-header">
          <img src="{{prjt.P_image}}" alt="" style="width: 50%;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{prj.P_name}}</h5>
          <p class="card-text">{{prjt.P_descriptions}}</p>
          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
        <div class="card-footer text-muted">
        
        </div>
        {% endfor %}
      </div>
</section>
{% endblock body %}